<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
<!-- uncomment this binding redirect when still using VS 2017, it is not added automatically as VS 2019 or VS 2022 do
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Resources.Extensions" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="7.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
-->
</configuration>
